<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="starter kit for your next eleventy(11ty) project using postcss, es6, gulp"
/>

{% if env.dev %}
<!-- favicons -->
<link rel="shortcut icon" href="/favicon.svg" />
{% endif %}
