<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Starter kit for your next eleventy(11ty) project using postcss, es6, snowpack, webpack."
/>

<!-- favicons -->
{% if env.dev %}
<link rel="shortcut icon" href="/favicon.svg" />
{% else %}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/images/favicon-180x180.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon-32x32.png' | url }}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon-16x16.png' | url }}"
  sizes="16x16"
/>
<link rel="shortcut icon" href="{{ '/assets/favicon.ico' | url }}" />
<link rel="manifest" href="{{ '/assets/manifest.json' | url }}" />
<meta name="theme-color" content="#222" />
{% endif %}
