---
layout: 'base.njk'
---

<div class="container">
  {% include "logo.njk" %}

  <h1 class="display-1">yaes</h1>

  <button>
    <span role="img" aria-label="confetti ball">🎊</span>
  </button>

  <p class="text-4xl">Yet another eleventy starter.</p>

  {% Image
  src="https://res.cloudinary.com/practicaldev/image/fetch/s--OYuC9FB5--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://coletiv.com/static/how-to-setup-continuous-integration-and-deployment-workflows-for-reactjs-using-github-actions-a51d75dfd4901be4e4b418bb3e6dc3fd.png",
  alt="sea with sunset in alexandria, egypt." %}
  <span> 🌍 Alexandria, Egypt </span>
</div>
