---
layout: 'base.njk'
---

<div class="container">
  {% include "github.njk" %} {% include "logo.njk" %}

  <h1 class="display-1">yaes</h1>

  <button>
    <span role="img" aria-label="confetti ball">🎊</span>
  </button>

  <p class="text-4xl">Yet another eleventy starter.</p>

  {% Image src="./image.jpg", alt="sea with sunset in alexandria, egypt." %}
  <span> 🌍 Alexandria, Egypt </span>
</div>
