@import './base/variables.css';
@import './base/fonts.css';
@import './base/typography.css';

@import './components/container.css';

@import './vendor/normalize.css';

body {
  background-color: #222;
  color: #fff;
  max-width: 100vw;
  min-height: 100vh;
}

img {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* purgecss start ignore */
main img {
  content-visibility: auto;
}
/* purgecss end ignore */
