---
title: 'YAES - Yet another eleventy starter.'
---

<!DOCTYPE html>
<html lang="en">
  {% include "head.njk" %}
  <body>
    <main>
      {{ content | safe }}
    </main>

    {% if env.dev %}
    <script type="module" src="/js/app.js" async defer></script>
    {% endif %}
  </body>
</html>
